
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.ipch
[Bb]in
[Ll]ib
[Ll]ibs
[Tt]mp
[Bb]uild
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.suo
*.sdf
*.opensdf
*.db
*.opendb

# Directories
doc/
catch/

# Qt progect stash
.qmake.stash

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Makefiles
Makefile
Makefile.*


